h1 {
  font-family: Freestyle Script;
  text-align: right;
}
body {background-color: darkred;}

body {
	font-family: Calibri;
}

div {
	text-align: center;
}

h1 {
	text-align: center;
}

div {background-color: re;}